%header
  %nav
    .container
      .row
        .col
          %img{:alt => "logo", :src => "https://upload.wikimedia.org/wikipedia/commons/8/85/Logo-Test.png"}/
        .col
          .links
            %a{:href => "/"} home
            %a{:href => "/contact"} contact
            %a{:href => "/campaigns"} campaigns
            %a{:href => ""} characters