%h1 Contact#contact
%p Find me in app/views/contact/contact.html.haml
.container
  %form#contact{:action => "", :method => "post"}
    %h3 Quick Contact
    %h4 Contact us today, and get reply with in 24 hours!
    %fieldset
      %input{:autofocus => "", :placeholder => "Your name", :required => "", :tabindex => "1", :type => "text"}/
    %fieldset
      %input{:placeholder => "Your Email Address", :required => "", :tabindex => "2", :type => "email"}/
    %fieldset
      %textarea{:placeholder => "Type your Message Here....", :required => "", :tabindex => "5"}
    %fieldset
      %button#contact-submit{"data-submit" => "...Sending", :name => "submit", :type => "submit"} Submit