.form_wrapper
    .form_inner
        %h1 Editing campaign
        = render 'form'
        .btn_small
            = link_to 'Show', @campaign
            \|
            = link_to 'Back', campaigns_path
        
