/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "colours.scss";
@import "header.scss";

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:$primary-text;
	background:$primary-dark;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

header{
  background-color:$primary;
}

nav{
  img{
    height:10vh;
  }
  .logo{
    filter: invert(1);
  }
  .links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    a{
      padding: 0% 2%;
      text-decoration: none;
      text-transform: uppercase;
      color: $primary-text;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
      border-bottom: 2px solid rgba($color: #000000, $alpha: 0);
      font-weight: bold;
      letter-spacing: 3px;
      &:hover{
          color: $secondary;
          border-bottom: 2px solid rgba($color: $secondary, $alpha: 1);
          background-color: rgba($color: #000000, $alpha: 0);
      }
    }
    .login_links{
      img{
        border-radius: 50%;
        max-width: 48px;
        max-height: 48px;
        border: 2px solid $secondary;
        margin: 5px;
      }
    }
  }
  &.active{
    background-color: $primary;
  }
}

.yield_wrapper{
  min-height: 90vh;
  top:0;
  position: relative;
}

footer{
  position: absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  background-color: $primary;
  padding: 0.5%;
  p{
    margin:0;
  }
}

.button{
    &.small_btn{
        a{
            background-color: rgba($color: #000000, $alpha: 0);
            color: $primary-light;
            border: 1px solid $primary-light;
            font-weight: 100;
            letter-spacing: 1px;
            &:hover{
                background-color: rgba($color: $primary-light, $alpha: 1);
                color: $primary-text;
                border: 1px solid $primary-light;
            }
        }
    }
    a{
        color: $primary-text;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: bold;
        background: $secondary-dark;
        max-width: 250px;
        margin: 0 auto;
        padding: 1% 2%;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        border: 4px solid rgba($color: #000000, $alpha: 0);
        &:hover{
            background-color: $secondary;
            border: 4px solid rgba($color: $primary-text, $alpha: 0.5);
        }
    }
}

.btn_small{
  a{
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    border: 1px solid $secondary;
    color: $secondary;
    font-weight: bold;
    padding: 1% 3%;
    &:hover{
      border: 1px solid $secondary-light;
      color: $secondary-text;
      background-color: $secondary-light; 
    }
  }
}

input.submit-btn{
  color: $primary-text;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  background: $secondary-dark;
  width:100%;
  margin: 0 auto;
  padding: 1% 2%;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 4px solid rgba($color: #000000, $alpha: 0);
  &:hover{
      background-color: $secondary;
      border: 4px solid rgba($color: $primary-text, $alpha: 0.5);
  }
}

.form_wrapper{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  text-align: center;
  padding: 5%;
  .form_inner{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 2% 1%;
    border: 2px solid $secondary-light;
    h1{
      color: $secondary;
      text-transform: uppercase;
      font-size: 3vh;
      letter-spacing: 3px;
    }
    label{
      text-align: left;
      font-style: italic;
    }
    input{
      width: 100%;
      border: 1px solid $primary;
      background: $primary-text;
      margin: 0 0 5px;
      padding: 10px;
    }
    input[type="file"] {
      color: $secondary-text;
    }
    textarea{
      width: 100%;
      border: 1px solid #212121;
      background: $primary-text;
      margin: 0 0 5px;
      padding: 10px;
      min-height: 200px;
    }
    .button{
      input{
        color: $primary-text;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: bold;
        background-color: $secondary-dark !important;
        margin: 0 auto;
        padding: 1% 2%;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
        border: 4px solid rgba($color: #000000, $alpha: 0);
        &:hover{
          background-color: $secondary !important;
          border: 4px solid rgba($color: $primary-text, $alpha: 0.5);
        }
      }
    }
    .remember_me{
      label{
        display: inline-block;
      }
      input[type='checkbox']{
        display: inline-block;
        width: auto;
      }
    }
  }
}

.profile_wrapper{
  .form_wrapper{
    position: relative;
    top: 0;
    transform: none;
  }
  .btn_small{
    padding-top: 5%;
  }
}

.login_links{
  .button{
    display: inline-block;
    padding: 1% 0;
    a{
      border: none;
      padding: 5px 6px;
      letter-spacing: 0;
      &:hover{
        border: none;
      }
    }
  }
  .profile{
    display: inline-block;
    padding: 0;
    border-bottom: none;
    img{
      transition: all .2s ease-in-out;
    }
    &:hover{
      border-bottom: none;
      filter: drop-shadow(0 0 6px $secondary-dark);
      img{
        border-radius: 50%;
        border: 2px solid $secondary-light;
      }
    }
  }
}


a.animated-button{
  &.left-slide{
    color: $primary-text;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid $secondary;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    &:hover{
      color: #000 !important;
      background-color: transparent;
      &::before{
        left: 0%;
        right: auto;
        width: 100%;
      }
    }
    &:before{
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      z-index: -1;
      content: '';
      color: $secondary-text !important;
      background: $secondary;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
    &.medium-width{
      max-width: 250px;
      margin: auto;
    }
  }
}

#error_explanation{
  width: 100%;
  ul{
    color: #000;
    padding-top: 5%;
  }
}

#alert, #notice{
  background: $primary;
  max-width: 250px;
  padding: 1% 2%;
  margin-left: 1%;
  position: fixed;
  z-index: 1000;
  top: 5%;
  left: 1%;
  box-shadow: 5px 5px 20px #111;
  p{
    margin-bottom: 0;
  }
}

#alert{
  border-left: 2px solid;
}

#notice{
  border-left: 2px solid green;
}

#alert, #notice {
  -moz-animation: 1s hideAnimation 5s forwards;
  animation: 1s hideAnimation 5s forwards;
}
@keyframes hideAnimation {
  0%   {opacity: 1;}
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@import "media-query.scss";