// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colours.scss";

.campaigns_wrapper{
    width: 100%;
    .list_inner{
        background: $primary-text;
        color: $secondary-text;
        padding: 5%;
        text-align: center;
        h1{
            color: $secondary;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        table{
            margin: auto;
        }
    }
    .card_row{
      padding: 3% 0;
    }
}

$cardoffset:40px;
.card {
  position: relative;
  width: 75%;
  margin: 2% auto;
  text-align: center;
  background: $primary-dark;
  border: solid 2px $secondary-light;
  overflow: hidden;
  &:after{
    content: "";
    display: block;
    padding-bottom: 150%;
  }
  img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    filter: grayscale(100%);
    transition: all .6s ease-in-out;
  }
  .card_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,transparent,$primary-dark);
  }
  button{
    display: block;
    margin: 5px auto;
  }
  .content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
  }
  .edit_btns{
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    font-weight: bold;
  }
  h3{
    text-transform: uppercase;
    color: $secondary;
    letter-spacing: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    padding: 0 4%;
    transform: translateY($cardoffset);
    transition: all .6s ease-in-out;
  }
  span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
    padding: 0 4%;
    font-style: italic;
    color: $primary-text;
    visibility: hidden;
    transition: all .6s ease-in-out;
    transform: translateY($cardoffset);
  }
}

.card{
  &:hover{
    cursor: pointer;
    h3{
      transform: translateY(0);
    }
    img{
      transition: all .2s ease-in-out;
      filter: none;
    }
    .content{
      span{
        -moz-animation: unhidden 1s forwards;
        animation: unhidden 1s forwards;
        transform: translateY(0);
      }
    }
  }
}

.card_outer{
  position: relative;
  .card_icons{
    position: absolute;
    z-index: 1;
    right: 4%;
    top: -8%;
    .i_wrap{
      background: $primary-dark;
      color: $secondary;
      display: block;
      border-radius: 50%;
      width: 64px;
      height: 64px;
      margin-bottom: 10%;
      position: relative;
      border: 2px solid $secondary-light;
      i{
        font-size: 2em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.card_outer{
  .i_wrap{
    transition: all .2s ease-in-out;
    &:hover{
      background: $secondary-light;
      i{
        color: $secondary-text;
      }
    }
  }
}



@keyframes unhidden {
  0%   { 
    visibility: hidden;
    opacity:0;
  }
  100%  { 
    opacity: 1;
    visibility: visible;
  }
}

.character_listing_wrapper{
  .card_row{
    padding: 5% 0;
  }
  h3{
    font-size: 2vh;
  }
  .card_btn{
    font-size: 1vh;
  }
  .add_btn_container{
    padding: 2% 0 0% 0;
    .add_btn_row{
      padding:0;
    }
  }
}


.card_btn{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0 2%;
  color: $primary-text;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover{
    color: $secondary !important;
  }
  &:visited{
    color: $primary-text;
  }
  &:not(:last-child){
    border-right: 1px solid $primary-text;
  }
}


.add_btn_container{
  text-align: center;
  padding: 2% 0 5% 0;
  .add_btn_row{
    padding: 0 0 5% 0;
  }
}

.banner_wrapper{
  text-align: center;
  background-color: $primary-light;
  min-height: 200px;
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    left: 0;
  }
  .banner_inner{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    h1{
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    #notice{
      margin: 0;
    }
  }
  .btn_small{
    a{
      padding: .2% 1%;
    }
  }
}


.description{
  margin: 2% 0;
  p{
    white-space: pre-wrap;
    color: #f0e6d2;
    font-size: 1.2em;
    line-height: inherit;
  }
}

  