// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colours.scss";

.characters_wrapper{
    .description {
        h2{
            text-align: center;
            color: $secondary;
            padding: 2% 0;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        p{
            white-space: pre-wrap;
            color: $secondary-very-light;
            font-size: 1.2em;
            line-height: inherit;
        }
    }
}