// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colours.scss";

$charCardOffset:100px;
.characters_wrapper{
    .description {
        .image_wrapper{
            text-align: center;
            position: relative;
            max-width: 200px;
            margin: 0 auto;
            text-align: center;
            background: $secondary;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid $secondary;
            &:after{
                content: "";
                display: block;
                padding-bottom: 100%;
            }
            img{
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                left: 0;
            }
        }
        h2{
            text-align: center;
            color: $secondary;
            padding: 2% 0;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        p{
            white-space: pre-wrap;
            color: $secondary-very-light;
            font-size: 1.2em;
            line-height: inherit;
        }
    }
}

.character_listing_wrapper{
    .card_row{
        padding-bottom: 5%;
    }
    .card{
        .img_wrapper{
            top: 40%;
            height: 64px;
            width: 64px;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid #ffcc80;
            transition: all .6s ease-in-out;
            margin: 0 auto;
            transform: translate(-50%, -50%);
            left: 50%;
            position: absolute;
            img{
                position: relative;
            }
        }
        h3{
            transform:translateY($charCardOffset);
        }
        span{
            transform:translateY($charCardOffset);
            min-height: 90px;
        }
    }
}

.character_listing_wrapper{
    .card{
        &:hover{
            .img_wrapper{
                top:25%;
            }
            h3{
                transform:translateY(40px);
            }
            span{
                transform:translateY(40px);
            }
        }
    }
}
