$primary: #212121;
$primary-light: #484848;
$primary-dark: #000000;
$primary-text:#ffffff;
$secondary: #ffcc80;
$secondary-light: #ffffb0;
$secondary-dark: #ca9b52;
$secondary-text: #000000;
$secondary-very-light:#f0e6d2;