@import "colours.scss";

.header_links{
  a{
    &:hover{
      background-color: $primary;
    }
  }
}

.burg-menu {
  display: inline-block;
  width: 42px;
  height: 35px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 16px;
  top: 3px;
  color: #fff;
  z-index: 111111;
  position: absolute;
  visibility: hidden;
  i{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 3px;
    font:bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent:-55px;
    background: #252525;
    transition:all .2s ease-out;
    background: $primary-text;
    &::before, &::after{
      content:'';
      width: 18px;
      height: 3px;
      background-color: $primary;
      position: absolute;
      left:0;
      transition:all .2s ease-out;
      color:#fff;
      background: #fff;
    }
    &::before{
      top: -7px;
    }
    &::after{
      bottom: -7px;
    }
  }
  &:hover{
    i{
      &::before{
        top: -10px;
      }
      &::after{
        bottom: -10px;
      }
    }
  }
  &.active{
    i{
      background: $primary;
      &::before{
        top:0;
        -webkit-transform: rotateZ(45deg);
          -moz-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
      }
      &::after{
        bottom:0;
        -webkit-transform: rotateZ(-45deg);
          -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
      }
    }
  }
}
  
  
  
  
  
