// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    header{
        max-height: 5vh;
    }
    nav{
        position: relative;
        z-index: 111;
    }
    .burg-menu{
        visibility: visible;
    }
    .header_links{
        text-align: center;
        transform: translateY(-400px);
        max-height: 40px;
        transition:all .2s ease-out;
        padding-bottom: 5%;
        &.active{
            transform: translateX(0);
            max-height: none;
        }
        .links{
            display: block;
            width: 100%;
            a{
                display: block;
            }
        }
    }
    .logo{
        text-align: center;
    }
    .character_listing_wrapper{
        .add_btn_container{
            padding: 2% 0 10% 0;
        }
        .card_row{
            padding-bottom: 0;
        }
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { 

 }

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) { 

 }